.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 120;
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  overflow-y: auto;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  margin: 0px;
  color: inherit;
  background-color: inherit;
  border-color: transparent;
}

.modal__icon {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon,
.modal__button:active .modal__icon {
  fill: #2196f3;
}
